.companies-section {
  background-image: url('https://images.unsplash.com/photo-1562376552-0d160a2f238d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1525&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  margin-top: 0;

  .companies-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);

    .card {
      margin-bottom: 5%;
      box-shadow: rgba(0, 0, 0, 0.75) 8px 10px 20px -1px;

      .card-text {
        color: black;
      }
    }
  }
  .card-container {
    box-shadow: rgba(0, 0, 0, 0.75) 8px 10px 20px -1px;
  }
}
