<section class = "companies-section">
  <header>
    <h2>
      Companies
    </h2>
  </header>
  <div class = "container">
    <div class = "row justify-content-center">
      <div class = "col-md-4" *ngFor="let company of items" cdkDrag>
        <div class="card">
          <img class="card-img-top" src= {{company.siteLogo}} alt="Companies card">
          <div class="card-body">
            <h5 class="card-title">{{company.heading}}</h5>
            <p class="card-text">{{company.description}}</p>
            <a href={{company.siteLink}} target="_blank" class="btn btn-primary bg-orange">Visit Site</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
