<section class = "splash">
  <!--<header>-->
    <!--<h2>Companies</h2>-->
    <!--<img class = "img-fluid" src = "../../../../assets/images/blue-glow-line.png"/>-->
  <!--</header>-->
  <div class = "container" [@slideItems]='items.length'>
    <div class = "row">
      <article *ngFor="let item of items" class = "col-md-4">
        <div class = "card" >
          <div class="card-body">
            <div class = "row subheader">
              <div class = "col-md-12"><img class = "img-fluid" src = {{item.siteLogo}}/></div>
              <div class = "col-md-12"><h1 class = "card-title">{{item.heading}}</h1></div>
            </div>
            <div class = "card-content">
              <p>{{item.description}}</p>
              <h5>Task</h5>
              <p>{{item.taskDesc}}</p>
              <h5>Technology</h5>
              <p>{{item.techDesc}}</p>
              <a href={{item.siteLink}} target="_blank"><button class="btn btn-block bg-orange" color="primary">Site</button></a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
