<section class = "timeline-section">
  <header>
    <h2>
      My Journey
    </h2>
  </header>
  <div class="container">
    <div class="content-wrap left">
      <div class="content">
        <h3>June 7, 2017</h3>
        <p>I told myself I would start venturing into web development as a side hobby, while attending full-time university for computer science</p>
        <p>
          Promised myself to learn every single day no matter what
        </p>
      </div>
    </div>
    <div class="content-wrap right">
      <div class="content">
        <h3>June 2017 - September 2017</h3>
        <p>
          Read HTML/CSS book by Jon Duckett
        </p>
        <p>
          Read over the basic syntax and tags using w3school.com, and began learning javascript
        </p>
        <p>
          Purchased Web Development Bootcamp course by Colt Steele from Udemy
        </p>
        <p>
          Made lame and basic static websites to improve myself
        </p>
      </div>
    </div>
    <div class="content-wrap left">
      <div class="content">
        <h3>October 2017 - Jan 2018</h3>
        <p>
          Looked form internships on Angelist.co, found and was hired by (unpaid)RightDevice as a web developer
        </p>
        <p>
          Learned PHP alongside the Laravel framework
        </p>
        <p>
          Continued to improve HTML5 and CSS3 and best practices
        </p>
      </div>
    </div>
    <div class="content-wrap right">
      <div class="content">
        <h3>Jan 2018 - May 2018</h3>
        <p>Joined as an (unpaid) intern with another startup called SwiftChange as a backend intern (while working with RightDevice)</p>
        <p>Got my first taste of working in an office in beautiful downtown San Diego</p>
        <p>Began freelancing as a web developer for clients using Upwork.com also first time being actually paid to develop</p>
        <p>Began learning and implementing Vue and React for Upwork clients</p>
        <p>Graduated with my Bachelor's in Computer Science at SDSU</p>
      </div>
    </div>
    <div class="content-wrap left">
      <div class="content">
        <h3>June 2018 - October 2018</h3>
        <p>Left SwiftChange, to seek better opportunities to grow and develop</p>
        <p>Recruited as a Full-Stack intern with SmartProperty(Paid)</p>
        <p>Began learning Angular 6 with SmartProperty</p>
        <p>Used AWS EC2, Route56, RDS to migrate full PHP Laravel built site from GoDaddy to AWS entirely</p>
      </div>
    </div>
    <div class="content-wrap right">
      <div class="content">
        <h3>October 2018 - Present</h3>
        <p>Left SmartProperty to seek full-time opportunities</p>
        <p>Hired and recruited by Affinity Development Group as a frontend developer based in Sorrento Valley, San Diego</p>
        <p>Exposed to ASP.NET and HTML5 and SASS best practices</p>
      </div>
    </div>
  </div>
</section>
<!--<section class ="section contacts">-->
  <!--<div class ="container" >-->
    <!--<header>-->
      <!--<h2>Contact Me</h2>-->
      <!--<img class = "img-fluid" src = "../../../../assets/images/blue-glow-line.png"/>-->
    <!--</header>-->
    <!--<div class = "card-container" [@appear]>-->
      <!--<mat-card>-->
        <!--<mat-card-header>-->
          <!--<mat-card-title>-->
            <!--<h3>Wei Leung</h3>-->
          <!--</mat-card-title>-->
          <!--<mat-card-subtitle>-->
            <!--<h5>Software Engineer</h5>-->
          <!--</mat-card-subtitle>-->
        <!--</mat-card-header>-->
        <!--<mat-card-content>-->
          <!--<h5>Email: wleung1995@hotmail.com</h5>-->
          <!--<h5>Phone: (619)-565-0881</h5>-->
        <!--</mat-card-content>-->
      <!--</mat-card>-->
    <!--</div>-->
    <!--&lt;!&ndash;<mat-card>&ndash;&gt;-->
    <!--&lt;!&ndash;<h3>Message Me!</h3>&ndash;&gt;-->
    <!--&lt;!&ndash;<form action="mailto:wleung1995@hotmail.com" method="post" enctype="text/plain">&ndash;&gt;-->

    <!--&lt;!&ndash;<div class = "form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<label for="email">Email</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input class = "form-control" type="text" name="email" id="email">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class = "form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<label for="name">Name</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input class = "form-control" type="text" name="name" id="name">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class = "form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<label for="message">Name</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<textarea class="form-control" id="message" rows="3"></textarea>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class = "form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<input class="bg-orange" type="submit">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-card>&ndash;&gt;-->
  <!--</div>-->
<!--</section>-->
