<div class = "section projects">
  <h1>Projects</h1>

  <div class = "row">
    <div class = "col-md-3">
      <mat-card class = "project-card">
        <mat-card-header>
          <img mat-card-avatar src = "assets/images/rightdev-logo.png"/>
          <mat-card-title>
            <h4>RightDevice</h4>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>Medical Device Start Up gauged in connecting medical device representatives and patients with needed information so patients can determine the best course of action</p>
          <h5>Task</h5>
          <p>Assisted and lead in design and development, Deployed and maintained website</p>
          <h5>Technology</h5>
          <p>Laravel, JavaScript, Bootstrap, cPanel, HTML, CSS</p>
        </mat-card-content>
          <a href="https://www.rightdevice.com/"><button mat-raised-button color="primary">Site</button></a>
      </mat-card>
    </div>

    <div class = "col-md-3">
      <mat-card class = "project-card">
        <mat-card-header>
          <img mat-card-avatar src = "assets/images/smartproperty-logo.png"/>
          <mat-card-title>
            <h4>SmartProperty</h4>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>Property Saas management system that provides users to monitor and track properties and their assets</p>
          <h5>Task</h5>
          <p>Assisted and designed the first PWA for property software management</p>
          <h5>Technology</h5>
          <p>Angular 6, Angular Material Components, Service Workers, C#, Rxjs, .NET</p>
        </mat-card-content>
          <a href="https://smartproperty.com/"><button mat-raised-button color="primary">Site</button></a>
      </mat-card>
    </div>

    <div class = "col-md-3">
      <mat-card class = "project-card">
        <mat-card-header>
          <img mat-card-avatar src = "assets/images/johnshipp-logo.png"/>
          <mat-card-title>
            <h4>JohnShipp and Associates</h4>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Internet development company providing web development services to various clients</p>
          <h5>Task</h5>
          <p>Assisted in development with one of their websites using backend</p>
          <h5>Technology</h5>
          <p>Laravel framework</p>
        </mat-card-content>
          <a href="https://johnshipp.com/"><button mat-raised-button color="primary">Site</button></a>
      </mat-card>
    </div>

    <div class = "col-md-3">
      <mat-card class = "project-card">
        <mat-card-header>
          <img mat-card-avatar src = "assets/images/swiftchange-logo.jpg"/>
          <mat-card-title>
            <h4>SwiftChange</h4>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Financial start up aimed towards allowed consumers to receive change through digital rather than physical change</p>
          <h5>Task</h5>
          <p>Assisted with backend end api development</p>
          <h5>Technology</h5>
          <p>Laravel framework</p>
        </mat-card-content>
          <a href="https://www.getswiftchange.com/"><button mat-raised-button color="primary">Site</button></a>
      </mat-card>
    </div>

  </div>
</div>
