<section>
  <header>
    <h2>Home</h2>
    <img class = "img-fluid" src = "../../../../assets/images/blue-glow-line.png"/>
  </header>
  <article class = "container">
    <div class = "row">
      <div class = "col-md-8">
        Things I love:
      </div>
      <div class = "col-md-4">
        <img src = "../../../../assets/images/comic-con-star-wars.jpg" class = "img-fluid"/>
        <img src = "../../../../assets/images/vegas.jpg" class = "img-fluid"/>
      </div>
    </div>
  </article>
</section>
