img {
  margin-bottom: 3%;
}

//ul {
//  color: aliceblue;
//}

.splash-section {
  background-image: url('https://images.unsplash.com/photo-1545498967-7b51dcb8bfd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1226&q=80');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 80vh;
  margin-top: 0%;
  p, li {
    color: aliceblue;
  }

  .splash-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }

  .splash-content {
    z-index: 100;
    margin-top: 15%;

    h1 {
      font-size: 4.5rem;
      margin-bottom: 2%;
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
      0px 8px 13px rgba(0,0,0,0.1),
      0px 18px 23px rgba(0,0,0,0.1);
    }

    p {
      span {
        color: white;
        border-right: 1px solid white;
        border-left: 1px solid white;
        //margin-right: 1%;
        padding: 0 1%;
      }
    }

    blockquote {
      color: white;
    }
  }
}

.skill-section {
  position: relative;
  top: -150px;
  mat-card {
    margin: 0 auto;
    width: 70%;
    box-shadow: rgba(0,0,0,0.75) 8px 10px 20px -1px;
    padding: 3% 3%;

    mat-card-content {
      //border-top: 1px solid #929292;

      h3 {
        text-align: center;
        margin-bottom: 10%;
      }

      .progress-item {
        margin-bottom: 2%;
        margin-top: 1%;

        h5 {
          color: black;
        }

        ::ng-deep .mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
          background-color: #ffa647;
        }
      }
    }
  }
}

.companies-section {
  margin-top: 0;
  .card {
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.75) 8px 10px 20px -1px;

    .card-text {
      color: black;
    }
  }
}

.about-section {
  margin-top: 0;

  img {
    box-shadow: rgba(0, 0, 0, 0.75) 8px 10px 20px -1px;
  }
}

.contact-section {
  .card-container {
    box-shadow: rgba(0, 0, 0, 0.75) 8px 10px 20px -1px;
  }
}
