<section class="splash-section">
  <div class = "splash-overlay">
    <div class = "container">
      <div class = "splash-content">
        <h1>
          Hi Frontend
        </h1>
        <p><span>Design</span> <span>Develop</span><span>Dedication</span></p>
        <blockquote cite="https://www.inc.com/jayson-demers/51-quotes-to-inspire-success-in-your-life-and-business.html">
          <em>"Stop chasing the money and start chasing the passion."</em>
          <br>
          <p> - Tony Hsieh</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class = "skill-section">
  <mat-card>
    <!--<mat-card-header>-->
      <!--<mat-card-title>-->
        <!--<h3>Skill and Progression</h3>-->
      <!--</mat-card-title>-->
    <!--</mat-card-header>-->
    <mat-card-content>
      <div class = "row">
        <div class = "col-md-4">
          <h3>Technology</h3>
          <div class = "progress-item">
            <h5>HTML5/CSS3</h5>
            <mat-progress-bar mode="determinate" color='warn' value="90"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>JavaScript/ES6+</h5>
            <mat-progress-bar mode="determinate" color='warn' value="85"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>PHP</h5>
            <mat-progress-bar mode="determinate" color='warn' value="78"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>AWS</h5>
            <mat-progress-bar mode="determinate" color='warn' value="75"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Git</h5>
            <mat-progress-bar mode="determinate" color='warn' value="80"></mat-progress-bar>
          </div>
        </div>

        <div class = "col-md-4">
          <h3>Frameworks</h3>
          <div class = "progress-item">
            <h5>ExpressJS</h5>
            <mat-progress-bar mode="determinate" color='warn' value="65"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Bootstrap 3/4</h5>
            <mat-progress-bar mode="determinate" color='warn' value="86"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Sass</h5>
            <mat-progress-bar mode="determinate" color='warn' value="75"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Laravel</h5>
            <mat-progress-bar mode="determinate" color='warn' value="68"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Angular 6+</h5>
            <mat-progress-bar mode="determinate" color='warn' value="82"></mat-progress-bar>
          </div>
        </div>

        <div class = "col-md-4">
          <h3>Personal</h3>
          <div class = "progress-item">
            <h5>Team Work</h5>
            <mat-progress-bar mode="determinate" color='warn' value="90"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Communication</h5>
            <mat-progress-bar mode="determinate" color='warn' value="80"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Determination</h5>
            <mat-progress-bar mode="determinate" color='warn' value="95"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Creativity</h5>
            <mat-progress-bar mode="determinate" color='warn' value="86"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Design</h5>
            <mat-progress-bar mode="determinate" color='warn' value="68"></mat-progress-bar>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<header>
  <h2>Contact Me</h2>
</header>
<section class="contact-section">
  <div class="contact-overlay">
    <div class ="container" >
      <div class = "card-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>Wei Leung</h3>
            </mat-card-title>
            <mat-card-subtitle>
              <h5>Software Engineer</h5>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h5>Email: wleung1995@hotmail.com</h5>
            <h5>Phone: (619)-565-0881</h5>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>


