<section class="splash-section">
  <div class = "splash-overlay">
    <div class = "container">
      <div class = "splash-content">
        <h1>
          Hi Developer
        </h1>
        <p><span>Design</span> <span>Develop</span><span>Production</span></p>
        <blockquote cite="https://www.inc.com/jayson-demers/51-quotes-to-inspire-success-in-your-life-and-business.html">
          <em>"Stop chasing the money and start chasing the passion."</em>
          <br>
          <p> - Tony Hsieh</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class = "skill-section">
  <mat-card>
    <!--<mat-card-header>-->
      <!--<mat-card-title>-->
        <!--<h3>Skill and Progression</h3>-->
      <!--</mat-card-title>-->
    <!--</mat-card-header>-->
    <mat-card-content>
      <div class = "row">
        <div class = "col-md-4">
          <h3>Technology</h3>
          <div class = "progress-item">
            <h5>HTML5/CSS3</h5>
            <mat-progress-bar mode="determinate" color='warn' value="90"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>JavaScript/ES6+</h5>
            <mat-progress-bar mode="determinate" color='warn' value="85"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>PHP</h5>
            <mat-progress-bar mode="determinate" color='warn' value="78"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>AWS</h5>
            <mat-progress-bar mode="determinate" color='warn' value="75"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Git</h5>
            <mat-progress-bar mode="determinate" color='warn' value="80"></mat-progress-bar>
          </div>
        </div>

        <div class = "col-md-4">
          <h3>Frameworks</h3>
          <div class = "progress-item">
            <h5>ExpressJS</h5>
            <mat-progress-bar mode="determinate" color='warn' value="65"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Bootstrap 3/4</h5>
            <mat-progress-bar mode="determinate" color='warn' value="86"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Sass</h5>
            <mat-progress-bar mode="determinate" color='warn' value="75"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Laravel</h5>
            <mat-progress-bar mode="determinate" color='warn' value="68"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Angular 6+</h5>
            <mat-progress-bar mode="determinate" color='warn' value="82"></mat-progress-bar>
          </div>
        </div>

        <div class = "col-md-4">
          <h3>Personal</h3>
          <div class = "progress-item">
            <h5>Team Work</h5>
            <mat-progress-bar mode="determinate" color='warn' value="90"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Communication</h5>
            <mat-progress-bar mode="determinate" color='warn' value="80"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Determination</h5>
            <mat-progress-bar mode="determinate" color='warn' value="95"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Creativity</h5>
            <mat-progress-bar mode="determinate" color='warn' value="86"></mat-progress-bar>
          </div>
          <div class = "progress-item">
            <h5>Design</h5>
            <mat-progress-bar mode="determinate" color='warn' value="68"></mat-progress-bar>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<section class = "timeline-section">
  <header>
    <h2>
      My Journey
    </h2>
  </header>
  <div class="container">
    <div class="content-wrap left">
      <div class="content">
        <h3>June 7, 2017</h3>
        <p>I told myself I would start venturing into web development as a side hobby, while attending full-time university for computer science</p>
        <p>
          Promised myself to learn every single day no matter what
        </p>
      </div>
    </div>
    <div class="content-wrap right">
      <div class="content">
        <h3>June 2017 - September 2017</h3>
        <p>
          Read HTML/CSS book by Jon Duckett
        </p>
        <p>
          Read over the basic syntax and tags using w3school.com, and began learning javascript
        </p>
        <p>
          Purchased Web Development Bootcamp course by Colt Steele from Udemy
        </p>
        <p>
          Made lame and basic static websites to improve myself
        </p>
      </div>
    </div>
    <div class="content-wrap left">
      <div class="content">
        <h3>October 2017 - Jan 2018</h3>
        <p>
          Looked form internships on Angelist.co, found and was hired by (unpaid)RightDevice as a web developer
        </p>
        <p>
          Learned PHP alongside the Laravel framework
        </p>
        <p>
          Continued to improve HTML5 and CSS3 and best practices
        </p>
      </div>
    </div>
    <div class="content-wrap right">
      <div class="content">
        <h3>Jan 2018 - May 2018</h3>
        <p>Joined as an (unpaid) intern with another startup called SwiftChange as a backend intern (while working with RightDevice)</p>
        <p>Got my first taste of working in an office in beautiful downtown San Diego</p>
        <p>Began freelancing as a web developer for clients using Upwork.com also first time being actually paid to develop</p>
        <p>Began learning and implementing Vue and React for Upwork clients</p>
        <p>Graduated with my Bachelor's in Computer Science at SDSU</p>
      </div>
    </div>
    <div class="content-wrap left">
      <div class="content">
        <h3>June 2018 - October 2018</h3>
        <p>Left SwiftChange, to seek better opportunities to grow and develop</p>
        <p>Recruited as a Full-Stack intern with SmartProperty(Paid)</p>
        <p>Began learning Angular 6 with SmartProperty</p>
        <p>Used AWS EC2, Route56, RDS to migrate full PHP Laravel built site from GoDaddy to AWS entirely</p>
      </div>
    </div>
    <div class="content-wrap right">
      <div class="content">
        <h3>October 2018 - Present</h3>
        <p>Left SmartProperty to seek full-time opportunities</p>
        <p>Hired and recruited by Affinity Development Group as a frontend developer based in Sorrento Valley, San Diego</p>
        <p>Exposed to ASP.NET and HTML5 and SASS best practices</p>
      </div>
    </div>
  </div>
</section>

<section class = "companies-section" [@slideItems] = items.length #companyBlock>
  <header>
    <h2>
      Companies
    </h2>
  </header>
  <div class = "container">
    <div class = "row justify-content-center">
      <div class = "col-md-4" *ngFor="let company of items">
        <div class="card">
          <img class="card-img-top" src= {{company.siteLogo}} alt="Companies card">
          <div class="card-body">
            <h5 class="card-title">{{company.heading}}</h5>
            <p class="card-text">{{company.description}}</p>
            <a href={{company.siteLink}} target="_blank" class="btn btn-primary bg-orange">Visit Site</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

