.side-container{
  color: #000000;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 100;
  position: static;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 10px 20px -1px;

  .navbar-item {
    height: 100px;
    width: 90%;
    //border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width .3s;
    background-color: rgba(19, 19, 19, 0.87);
    color: #ff5200;
    //margin-bottom: 5%;
    //box-shadow: rgba(0, 0, 0, 0.75) 6px 10px 13px -1px;

    a {
      //margin-right: 3%;
    }
    //
    &:hover {
      width: 100%;
      background-color: #DEF2F1;
      color: black;
    }
  }

  .home-logo {
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 19, 19, 0.87);
    color: #ff5200;
  }
}
