<!--<mat-toolbar color="primary" class ="mat-elevation-z8">-->
<!--<mat-toolbar-row>-->
<!--<span routerLink="/"><i class="fas fa-laptop-code"></i> Wei Portfolio</span>-->
<!--<span class ="navbar-item"><a routerLink="/" >Home</a></span>-->
<!--<span class ="navbar-item"><a routerLink="/contact" >Contact</a></span>-->
<!--<span class ="navbar-item"><a routerLink="/resume" >Resume</a></span>-->
<!--</mat-toolbar-row>-->
<!--</mat-toolbar>-->

<nav class = "side-container">
  <span routerLink="/" class ="home-logo"><i class="fas fa-laptop-code"></i> Wei Portfolio</span>
  <span class ="navbar-item bg-blue"><a routerLink="/" >Home</a><i class="material-icons">
home
</i></span>
  <span class ="navbar-item bg-pink"><a routerLink="/companies" >Companies</a><i class="material-icons">
email
</i></span>
  <span class ="navbar-item bg-purple"><a routerLink="/contact" >Contact</a><i class="material-icons">
email
</i></span>
  <span class ="navbar-item bg-green"><a routerLink="/resume" >Resume</a><i class="material-icons">
how_to_vote
</i></span>
</nav>
