<nav class="navbar navbar-expand-lg" id="navContainer" [ngClass]="navType === 'home'? 'home' : '' " >
  <div class = "container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav custom-nav-list">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li>
          <a class="nav-link" routerLink="company">Company</a>
        </li>
        <li>
          <a class="nav-link custom-nav-brand" routerLink="/">Wei</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/journey">Journey</a>
        </li>
        <li class="nav-item" (click)="openDialog()">
          <a class="nav-link"> Resume </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
