#navContainer {
  background-color: transparent;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  z-index: 1000;

  #navbarNav {
    justify-content: center;
    .custom-nav-list {
      align-items: flex-end;
      color: rgba(255 ,255 ,255 , 1);
      font-weight: bold;
      width: 100%;
      li {
        margin: 0 5%;
        a {
          &:hover {
            color: #ffa647;
          }
        }
      }
      .custom-nav-brand {
        font-size: 2em;
      }
    }

  }
}

.home {
  position: absolute;
}
