<!--<mat-toolbar color="primary" class ="mat-elevation-z8">-->
  <!--<mat-toolbar-row>-->
    <!--<span routerLink="/"><i class="fas fa-laptop-code"></i> Wei Portfolio</span>-->
    <!--<span class ="navbar-item"><a routerLink="/" >Home</a></span>-->
    <!--<span class ="navbar-item"><a routerLink="/contact" >Contact</a></span>-->
    <!--<span class ="navbar-item"><a routerLink="/resume" >Resume</a></span>-->
  <!--</mat-toolbar-row>-->
<!--</mat-toolbar>-->

<nav class = "side-container">
      <span routerLink="/"><i class="fas fa-laptop-code"></i> Wei Portfolio</span>
      <span class ="navbar-item"><a routerLink="/" >Home</a></span>
      <span class ="navbar-item"><a routerLink="/contact" >Contact</a></span>
      <span class ="navbar-item"><a routerLink="/resume" >Resume</a></span>
</nav>
