<mat-toolbar color ="primary">
  <mat-toolbar-row class="text-center">
      <div class = "col-md-4">
        <h1>WeiTech 2018&trade;</h1>
      </div>
      <div class = "col-md-4">
        <h3>Social Media</h3>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class = "col-md-4">

      </div>
  </mat-toolbar-row>
</mat-toolbar>
