<mat-toolbar color ="primary">
  <mat-toolbar-row class="text-center">
      <div class = "col-md-4">
        <h1>WeiTech</h1>
      </div>
      <div class = "col-md-4">
        <h3>Social Media</h3>
        <div class = "row">
          <div class = "col-sm-3"><a href="#"><i class="fab fa-facebook"></i></a></div>
          <div class = "col-sm-3"><a href="#"><i class="fab fa-twitter-square"></i></a></div>
          <div class = "col-sm-3"><a href="#"><i class="fab fa-youtube"></i></a></div>
          <div class = "col-sm-3"><a href="#"><i class="fab fa-linkedin"></i></a></div>
        </div>
      </div>
      <div class = "col-md-4">
        Hello
      </div>
  </mat-toolbar-row>
</mat-toolbar>
