
<section class = "about-section">
  <header>
    <h2>
      Hello World!
    </h2>
  </header>
  <article class = "container" >
    <div class = "row">
      <div class = "col-md-6 img-container" [@slide-left]>
        <img src = "../../../../assets/images/comic-con-star-wars.jpg" class = "img-fluid"/>
      </div>
      <div class = "col-md-6">
        <p>
          Hello! Welcome to my personal website, quick tidbits about me, I'm passionate about web development. I've been part of various start ups and projects
          all pertaining to different fields. It's been a long journey of learning and getting to where I'm at currently, and I'm just getting started!
        </p>
        <p>
          I really enjoy collaborating and discussing the latest tech as well as techniques with my peers around me. I'd like to consider myself to be a very laid back and open-minded person.
          I enjoy hearing how other people integrate and use technologies. Asking questions and not knowing something right away is all part of the learning experience for me and I highly enjoy it.
        </p>
        <p><strong>Name: </strong> Wei Leung</p>
        <p><strong>Education: </strong>Bachelor's Degree Computer Science 2018</p>
        <p><strong>Languages: </strong> HTML5/CSS3, JavaScript/ES6, PHP, MySQL, Java, C++</p>
        <p><strong>Technologies: </strong> Angular6+, Laravel, ReactJS, VueJS, Bootstrap, Angular Material, AWS( RDS, EC2, Route53)</p>
        <p><strong>Strengths: </strong>Passionate about technology, willing to learn, research before implementation, open-minded</p>
        <p><strong>Weaknesses: </strong>Lack of Experience, Casual Conversations with strangers</p>
        <p><strong>Favorite Past-time: </strong>Find good restaurants in town and trying them out</p>
        <p>Web Development Start Date: June 9, 2017</p>
      </div>
    </div>
  </article>

</section>
